.card {
    backdrop-filter: blur(10px) saturate(166%);
    -webkit-backdrop-filter: blur(10px) saturate(166%);
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid white;
}
